html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body{
    margin: 0px;
    font-family: "Open sans";
}
#banner{
    min-height: 3vh;
    color: white;
    background: linear-gradient(180deg, black, black, black, rgba(0, 0, 0, 0));
    text-align: center;
    padding: 10px 25px 10px 25px;
    position: sticky;
    top:0px;
    font-size: 0.8em;
}
a{
    color: rgb(255, 38, 0);
    text-decoration: none;
    font-weight: 700;
}
li{
    list-style-type: none;
}
.nav-link{
    color: rgb(22, 22, 22);
    font-size: 1em;
}
#main-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 35px;
    position:sticky;
    top:calc(2vh + 30px);
    height: 8vh;
}
#main-navbar>ul{
    display: flex;
    gap: 25px;
    margin: 0px;
}
#menu{
    display: none;
    transition: 0.2s;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
#menu:hover{
    background: rgba(0, 0, 0, 0.295);
}
#mobile-nav{
    display: none;
    position:fixed;
    background: white;
    right: 0px;
    width: 40vw;
    height: 100vh;
    margin-top: -15vh;
    z-index: 1;
    animation: slide-left 0.7s;
    box-shadow: 0 0 1350px black;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px ;
}
#back-button{
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.322);
    width:fit-content;
    font-weight: 700;
    font-size: 1.2em;
    border-radius: 5px;
    margin: 30px 20px;
    cursor: pointer;
    transition: 0.2s;
}
#back-button:hover{
    background: rgba(0, 0, 0, 0.473);
}
#mobile-nav >ul{
    padding:40px;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
}
.nav-link-mobile{
    color: rgb(83, 83, 83);
    font-size: 1em;
    padding: 8px 10px;
    border-radius: 8px;
    transition: 0.2s;
}
.nav-link-mobile:hover{
    background: rgba(138, 138, 138, 0.226);
}
#logo{
    height: 18px;
}
#display-text{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 84%;
    transition: 0.4s;
}
#display-text > div > h2{
    font-size: 2.7em;
    text-align: center;
    margin: 30px 0px 6px 0px;
    font-family: 'Josefin Sans', sans-serif;
}
#display-text > div > p{
    text-align: center;
    margin-block:0px;
    font-size: 1.1em;
}
#display-text > div > a{
    color: black;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 1.1em;
    background: rgba(255, 255, 255, 0.767);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
    transition: 0.2s;
}
#display-text > div > a:hover{
    color: rgba(250, 0, 0, 0.993);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.219);
}
#downbtn{
    display: flex;
    flex-direction: column;
    margin:30px auto 0 auto;
    width: fit-content;
    padding: 20px;
    cursor: pointer;
}
#display-text > div > div > img{
    height: 20px;
    width: 23px;
    margin-top: -7px;
    animation: twist 2.5s 0s infinite;
}
#display-text > div > div > img:last-child{
    animation: twist 2.5s 0.3s infinite;
}
.page{
    height: 100vh;
}
#model3{
    margin-top: calc(-30px - 10vh);
    background:url(./assets/model3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start none;
}
#models{
    background:url(./assets/models.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start none;
}
#modelx{
    background:url(./assets/modelx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start none;
}
#modely{
    background:url(./assets/modely.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start none;
}
#solar-panels{
    background:url(./assets/solar-panels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start none;
}
#solar-roof{
    background:url(./assets/solar-roof.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start none;
}
#accessories{
    background:url(./assets/accessories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start none;
}
#account{
    background:url(./assets/accountbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    height: 100vh;
}
#account > h2{
    padding: 20vh 0 10px 0;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    font-family: Jost;
}
#account > form{
    height: 40%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    background: rgba(3, 3, 3, 0.644);
    padding: 14px;
    max-width: 400px;
    min-width: 250px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}
.input-label{
    font-size: 1em;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}
.input-label:first-child{
    margin:0 0 5px 0;
}
input{
    font-size: 1em;
    border-radius: 5px;
    border: none;
    padding: 6px 0;
    background: black;
    text-indent: 8px;
    color: white;
    transition: 0.2s;
}
input[type="submit"]{
    margin-top: 10px;
    font-weight: 700;
    font-family: 'Open Sans';
    padding-block: 10px;
}
input[type="submit"]:hover{
    background: rgba(0, 0, 0, 0.425);
}
input:not([type="submit"]):focus{
    outline: 0px;
    border-bottom: 3px solid red;
}
input[type="date"]{
    color-scheme: dark;
    text-indent: 4px;
}
#account>p{
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.466);
}
#mobile-nav-blind{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    display: none;
}
@keyframes slide-left {
    0%{
        transform: translateX(42vw);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-right {
    100%{
        transform: translateX(42vw);
        opacity: 0;
    }
}
@keyframes twist {
    70%{
        transform:rotateY(0deg)
    }
    100%{
        transform:rotateY(360deg)
    }
}
@media (max-width: 600px) {
    #model3{
        background: url("./assets/model3portrait.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    #models{
        background: url("./assets/modelsportrait.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    #modelx{
        background: url("./assets/modelxportrait.jpg");
        background-size: cover;
        background-position: 50% 25%;
    }
    #modely{
        background: url("./assets/modelyportrait.jpg");
        background-size: cover;
        background-position: 50% 25%;
    }
    #solar-panels{
        background: url("./assets/solarpanelsportrait.jpg");
        background-size: cover;
        background-position: 50% 30%;
    }
    #solar-roof{
        background: url("./assets/solarroofportrait.jpg");
        background-size: cover;
        background-position: 50% 40%;
    }
}
@media (max-width: 1250px) {
    .nav-link{
        display: none;
    }
    #menu{
        display: unset;
        background: rgba(0, 0, 0, 0.205);
        padding: 8px;
        border-radius: 8px;
        font-size: 1em;
    }
}
@media (max-width: 600px) {
    #main-navbar>ul{
        gap: 0px;
    }
    #display-text > div > a{
        font-size: 1em;
        margin: 5px;
        padding: 15px;
    }
    #model3{
        margin-top: calc(-30px - 9vh);
    }
    #banner{
        font-size: 0.8em;
        font-weight: 500;
    }
    #logo{
        height: 14px;
    }
    #mobile-nav{
        width: 50vw;
    }
    #mobile-nav > ul{
        padding: 10px;
    }
    #downbtn{
        margin-top: 50px;
        margin-bottom: 40px;
    }
}
/* Samsung Galaxy fold 😭😭*/
@media (max-width: 290px){
    #main-navbar{
        padding: 30px 12px 0px 12px;
    }
    #display-text{
        height:75%;
    }
    #display-text > div > h2{
        margin: 0px;
    }
    #display-text > div > a{
        padding: 15px 20px;
        margin: 10px 0px 0px 0px;
        color: black;
        display: block;
        text-align: center;
    }
    #downbtn{
        margin-top: 15px;
    }
    #mobile-nav{
        margin-top: -24vh;
    }
}
