body{
    background: url(assets/bg-1.jpg);
    color: rgb(3, 228, 141);
    font-family: 'Comfortaa';
    font-weight: 700;
}
h1{
    text-align: center;
    margin-top: 30px;
    font-size: 2.5em;
    animation: fade 1s;
}
form{
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(12, 16, 24, 0.863);
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.801);
    animation: fade-up 1.5s;
}
.input-label{
    font-size: 1.5em;
    margin:24px 0 10px 0;
    font-weight: 600;
}
.input-label:first-child{
    margin:0 0 5px 0;
}
input{
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: rgb(8, 11, 17);
    border: none;
    transition: 0.1s;
    text-indent: 3px;
    letter-spacing: 0.5px;
    font-family: 'Comfortaa';
}

input:not([type="submit"]){
    color:rgb(183, 250, 0);
    animation: color-change 1.8s infinite linear;
}
input:not([type="submit"]):focus{
    outline: 0px;
    border-bottom: 4px solid;
    border-image: linear-gradient(245deg, rgb(2, 162, 173), rgb(0, 250, 12)) 1;
}
input[type="submit"]{
    background: linear-gradient(245deg, rgb(2, 162, 173), rgb(0, 250, 12));
    margin-top: 20px;
    padding-block: 15px;
    transition: 0.2s;
    color: rgb(8, 11, 17);
    font-weight: 600;
    font-size: 1.3em;
}
input[type="submit"]:hover{
    scale: 1.03;
} 
fieldset{
    margin-top: 24px;
    border-color: rgb(76, 91, 119);
    border-width: 3px;
}
legend{
    font-size: 1.3em;
    padding-inline:5px;
}
.radio-label{
    font-size: 1.2em;
    margin:0px 20px 0px 10px ;
}
footer{
    text-align: center; 
    margin: 20px auto;
    text-shadow: 0 0 10px black;
    color: white;
    background:rgba(12, 16, 24, 0.863);
    width:fit-content;
    padding: 8px;
    border-radius: 5px;
    line-height: 1.3em;
    animation: fade-up 1s 2s;
}
footer > span{
    color:rgb(3, 228, 141);
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes color-change {
    0%{
        color: rgb(183, 250, 0);
    }
    25%{
        color: rgb(0, 250, 12);
    }
    37.5%{
        color: rgb(0, 225, 255);
    }
    50%{
        color: rgb(0, 225, 255);
    }
    62.5%{
        color: rgb(0, 225, 255);
    }
    75%{
        color: rgb(0, 250, 12);
    }
    100%{
        color: rgb(183, 250, 0);
    }
}